<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Fqdn}}</title>
    <meta charset="utf-8">
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">

     window.onload = function () {
       var points = [
         {{range .Nodes }}
	 {{.Runtime}} ,
         {{end}}
       ];
       var labels = [];
       for (var i =0; i < points.length; i++ ) {
         labels.push( i+1 );
       }
       var config = {
         type: 'line',
         data: {
           labels: labels,
           datasets: [{
             label: "seconds",
             data: points,
             fill: false,
           }]
         },
         options: {
           responsive: true,
           title:{
             display:true,
             text:'Puppet Runtime'
           },
           tooltips: {
             mode: 'index',
             intersect: false,
           },
           hover: {
             mode: 'nearest',
             intersect: true
           },
           scales: {
             xAxes: [{
               display: false,
             }],
             yAxes: [{
               display: true,
               scaleLabel: {
                 display: true,
                 labelString: 'Value'
               }
             }]
           }
         }
       }

       var ctx = document.getElementById("canvas").getContext("2d");
       window.myLine = new Chart(ctx, config);
     }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><b>Puppet-Summary</b></a></li>
          <li class="breadcrumb-item active">{{ .Fqdn }}</li>
        </ol>
      </div>
    </nav>
    <div class="container">
      <h1>{{.Fqdn}}</h1>
      <canvas id="canvas" style="height: 200px; width: 90%; margin-left:5%; margin-right:5%"></canvas>
      <p>&nbsp;</p>
      <table class="table table-bordered table-striped table-condensed table-hover">
        <tr>
          <th>Node</th>
          <th>Status</th>
          <th>Seen</th>
          <th>Failed</th>
          <th>Changed</th>
          <th>Total</th>
        </tr>
        {{range .Nodes}}
        <tr
            {{if eq .State "failed" }} class="danger" {{ end }}
            {{if eq .State "changed" }} class="info"  {{ end }}
            data-href="/report/{{.ID}}">
          <td>{{.Fqdn}}</td>
          <td>{{.State}}</td>
          <td title="{{.At}}">{{.Ago}}</td>
          <td>{{.Failed}}</td>
          <td>{{.Changed}}</td>
          <td>{{.Total}}</td>
        </tr>
        {{end}}
      </table>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr />
    <footer id="footer">
        <div class="container">
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="/radiator/">Radiator View</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="https://github.com/skx/puppet-summary">GitHub Project</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="https://steve.kemp.fi/">© 2017 - Steve Kemp</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <script type="text/javascript">
       $(function(){
         $('.table tr[data-href]').each(function(){
           $(this).css('cursor','pointer').hover(
             function(){
               $(this).addClass('active');
             },
             function(){
               $(this).removeClass('active');
             }).on('mouseup', function (e) {
               switch (e.which)
               {
                 // Left Click.
                 case 1:
                 document.location = $(this).attr('data-href');
                 break;

                 // Middle click.
                 case 2:
                 var newWindow = $(this).attr('data-href');
                 window.open(newWindow, '_blank');
                 e.preventDefault();
                 break;
               }
             })
         });
       });
      </script>
  </body>
</html>
