<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Puppet Report {{ .Fqdn }}</title>
    <meta charset="utf-8">
    <link href="/favicon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><b>Puppet-Summary</b></a></li>
          <li class="breadcrumb-item"><a href="/node/{{ .Fqdn }}">{{ .Fqdn }}</a></li>
          <li class="breadcrumb-item active">report</li>
          </ol>
      </div>
    </nav>
    <div class="container">
      <h1>Overview</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            <p>Report of {{ .Fqdn }} which ran {{ .At }}:</p>
            <table class="table table-bordered table-striped table-condensed table-hover">
              <tr><td>Changed </td><td>{{ .Changed }}</td></tr>
              <tr><td>Skipped </td><td>{{ .Skipped }}</td></tr>
              <tr><td>Failed </td><td>{{ .Failed }}</td></tr>
              <tr><td>Total </td><td>{{ .Total }}</td></tr>
            </table>
          </div>
        </div>
      </div>

      <h3 style="border-bottom: 1px solid #d3d3d3; width:100%">Logs</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            {{range .LogMessages}}
            <p>{{.}}</p>
            {{else}}
            <p>Nothing reported.</p>
            {{end}}
          </div>
        </div>
      </div>

      {{if .ResourcesFailed }}
      <h3 style="border-bottom: 1px solid #d3d3d3; width:100%">Failed</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            <ul style="list-style:none">
              {{range .ResourcesFailed}}
              <li>{{.Type}}: {{.Name}}
                <ul>
                  <li><small><code>{{.File}}:{{.Line}}</code></small></li>
              </ul></li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      {{end}}

      {{if .ResourcesChanged }}
      <h3 style="border-bottom: 1px solid #d3d3d3; width:100%">Changed</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            <ul style="list-style:none">
              {{range .ResourcesChanged}}
              <li>{{.Type}}: {{.Name}}
                <ul>
                  <li><small><code>{{.File}}:{{.Line}}</code></small></li>
              </ul></li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      {{end}}

      {{if .ResourcesSkipped}}
      <h3 style="border-bottom: 1px solid #d3d3d3; width:100%">Skipped</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            <ul style="list-style:none">
              {{range .ResourcesSkipped}}
              <li>{{.Type}}: {{.Name}}
                <ul>
                  <li><small><code>{{.File}}:{{.Line}}</code></small></li>
              </ul></li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      {{end}}


      {{if .ResourcesOK }}
      <h3 style="border-bottom: 1px solid #d3d3d3; width:100%">Unchanged</h3>
      <div class="container-fluid" style="display:none;">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            <ul style="list-style:none">
              {{range .ResourcesOK}}
              <li>{{.Type}}: {{.Name}}
                <ul>
                  <li><small><code>{{.File}}:{{.Line}}</code></small></li>
              </ul></li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      {{end}}

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr />
    <footer id="footer">
        <div class="container">
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="/radiator/">Radiator View</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="https://github.com/skx/puppet-summary">GitHub Project</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="nav">
              <li><a href="https://steve.kemp.fi/">© 2017 - Steve Kemp</a></li>
            </ul>
          </div>
        </div>
    </footer>
    <script type="text/javascript">
     $(function(){
       $('h3').bind('click', function (event) {
         event.stopPropagation();
         $(this).next('div').toggle();
       });
       $("h3").hover(function() {
         $(this).css('cursor','pointer');
       }, function() {
         $(this).css('cursor','auto');
       });
     });
    </script>
  </body>
</html>
