<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Puppet Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puppet-Summary</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    <li><a href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/node/{{ .Fqdn }}">{{ .Fqdn }}</a></li>
        <li class="breadcrumb-item active">Report</li>
      </ol>
      <h1>Overview</h1>
      <p>Report of {{ .Fqdn }}  from {{ .At }}:</p>
      <table class="table table-bordered table-striped table-condensed table-hover">
        <tr><td>Changed </td><td>{{ .Changed }}</td></tr>
        <tr><td>Skipped </td><td>{{ .Skipped }}</td></tr>
        <tr><td>Failed </td><td>{{ .Failed }}</td></tr>
        <tr><td>Total </td><td>{{ .Total }}</td></tr>
      </table>
      <h3>Logs</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            {{range .Log_Messages}}
            <p>{{.}}</p>
            {{else}}
            <p>Nothing reported.</p>
            {{end}}
          </div>
        </div>
      </div>

      <h3>Failed</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            {{range .Resources_Failed}}
            <p>{{.}}</p>
            {{else}}
            <p>Nothing reported.</p>
            {{end}}
          </div>
        </div>
      </div>

      <h3>Changed</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            {{range .Resources_Changed}}
            <p>{{.}}</p>
            {{else}}
            <p>Nothing reported.</p>
            {{end}}
          </div>
        </div>
      </div>

      <h3>Skipped</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-11 col-md-11">
            {{range .Resources_Skipped}}
            <p>{{.}}</p>
            {{else}}
            <p>Nothing reported.</p>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr />
    <footer id="footer">
      <div class="container">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          <ul class="nav ">
            <li><a href="https://steve.kemp.fi/">© 2017 - Steve Kemp</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
